### Import stuff

In [3]:
import datetime
import pandas as pd
import time
import os

### Read SLA Excel

In [4]:

def get_excel():
    path = input('\nInsert excel-path here: ')
    # path = r'"C:\Users\eilon.eilstein\Python\Excel Validation for Snir\split_by_manufacturer\sla_input.xlsx"'

    if path[0] in ['"', "'"]:
        path = path[1:-1]
        
    try:
        df_sla = pd.read_excel(path)
        print('Excel Imported Successfully!')
        return path, df_sla
    except Exception as e:
        print('Invalid path. Try again...')
        return get_excel()

path, df_sla = get_excel()

Insert excel-path here: sla_input.xlsx
Excel Imported Successfully!

### get Excel's Creation Date

In [5]:
creation_date = datetime.datetime.fromtimestamp(os.path.getctime(path)).strftime('%Y-%m-%d')

### Split and Filter Columns

In [10]:
all_cols = list(df_sla.columns)
cols, manu_cols = all_cols[:5], all_cols[5:]


dfs = {col:df_sla[pd.notnull(df_sla[col])][cols] for col in manu_cols}

dfs[list(dfs.keys())[0]]

,שיוך,קוד לקוח,שם לקוח,אזור,חלון זמן
3,מכבי,1045943,הרצל 36 אופקים,דרום,09:00-11:00
4,מכבי,1048934,"התקוה 4, באר שבע",דרום,09:00-11:00
5,מכבי,1048859,"שדרות העצמאות 64, קריית גת",דרום,09:00-11:00
6,מכבי,1048935,"שדרות ירושלים 18, נתיבות",דרום,11:00-13:00
7,מכבי,1045958,"אולם ספורט גייטס, שדרות, בר לב 4",דרום,11:00-13:00
...,...,...,...,...,...
112,מכבי,1048452,"הבנאי 6, אריאל",איוש,13:00-16:00
115,מכבי,חסר4,מכבי מקבל במקום - מדא מ. צפון,מקבל במקום,מקבל במקום
116,מכבי,1049959,מכבי מקבל במקום - מדא מ. דרום,מקבל במקום,מקבל במקום
117,מכבי,1049957,מכבי מקבל במקום - מדא מ. שרון,מקבל במקום,מקבל במקום
118,נובולוג,1048590,"סוסנה נובולוג- בימ""ס סוסנה נובולוג",מקבל במקום,מקבל במקום

### Export Splitted Excels

In [11]:

for df_name, df in dfs.items():
    df.to_excel(f'{df_name}_{creation_date}.xlsx', index=False)
    print(f'Exported {df_name}, {list(df_sla[pd.notnull(df_sla[df_name])][df_name].unique())[0]}', df.shape)
    
print('*** DONE SUCCESSFULLY ***')

Exported פייזר, p (104, 5)
Exported מודרנה, M (16, 5)
*** DONE SUCCESSFULLY ***