In [99]:
import random as rd
import pandas as pd


events = pd.DataFrame({'hero_health':[], 'enemy_strike':[], 'hero_parry':[], 'damage_dealt':[], 'health_left':[]})

class Enemy:
    atkl = 50
    atkh = 100
    def attck(self):
        damage = rd.randint(self.atkl, self.atkh+1)
        return damage
        
enemy1 = Enemy()
enemy1.attck()

class Hero:
    parryl = 0
    parryh = 50
    def parry(self):
        damage_p = rd.randint(self.parryl, self.parryh+1)
        return damage_p/100
        
enemy1 = Enemy()
hero = Hero()

In [105]:
print(enemy1.attck())

79

In [111]:
print(hero.parry())

0.02

In [35]:
HERO_HP = 90
enemy_strike = None
hero_parry = None
damage_dealt = None
health_left = None

In [114]:
events = pd.DataFrame({'hero_health':[], 'enemy_strike':[], 'hero_parry':[], 'damage_dealt':[], 'health_left':[]})

In [113]:
events =  events.append({'hero_health':HERO_HP, 'enemy_strike':enemy_strike, 'hero_parry':hero_parry, 'damage_dealt':damage_dealt, 'health_left':health_left},ignore_index=True)
events

   hero_health  enemy_strike  hero_parry  damage_dealt  health_left
0         90.0          61.0         0.2          12.2         77.8

In [115]:
for i in range(100):
    enemy_strike = enemy1.attck()
    hero_parry = hero.parry()
    damage_dealt = enemy_strike * hero_parry
    health_left = HERO_HP - damage_dealt
    
    events =  events.append({'hero_health':HERO_HP, 'enemy_strike':enemy_strike, 'hero_parry':hero_parry, 'damage_dealt':damage_dealt, 'health_left':health_left},ignore_index=True)

events.sort_values('health_left')

    hero_health  enemy_strike  hero_parry  damage_dealt  health_left
20         90.0         100.0        0.50         50.00        40.00
85         90.0          95.0        0.50         47.50        42.50
42         90.0          95.0        0.49         46.55        43.45
55         90.0          89.0        0.45         40.05        49.95
97         90.0         100.0        0.39         39.00        51.00
..          ...           ...         ...           ...          ...
79         90.0          95.0        0.02          1.90        88.10
95         90.0          64.0        0.02          1.28        88.72
48         90.0          62.0        0.02          1.24        88.76
39         90.0          94.0        0.01          0.94        89.06
13         90.0          76.0        0.01          0.76        89.24

[100 rows x 5 columns]

In [86]:
score = pd.DataFrame(events.mean())
score

                     0
hero_health   90.00000
enemy_strike  75.76750
hero_parry     0.25200
damage_dealt  19.37575
health_left   70.62425

# Regular Expressions

In [14]:
import re
wordRegex = re.compile(r"[\w]+") #ביטוי כללי של מילה, כלומר רצף של אותיות
letterRegex = re.compile('[a-zA-Z]') #ביטוי כללי של אותיות בודדות
a = input()
b = input()

a_words = wordRegex.findall(a) #מצא את כל הביטויים של ה"מילים" בתוך מחרוזת המילים והחזיר אותם כרשימה
b_letters = letterRegex.findall(b) #מצא את כל הביטויים של ה"אותיות" בתוך מחרוזת האותיות והחזיר אותן כרשימה
    

print(a_words, '\n', b_letters)

eilon eilstein
e E R
['eilon', 'eilstein']
 ['e', 'E', 'R']

# תרגיל 2.א

In [66]:
import re # ספרייה של ביטויים כלליים בטקסט
numberRegex = re.compile(r"\d+") # ביטוי כללי של מספר
N = int(input('Number of rows: ')) # מספר השורות הרצוי
matrix_list = [] # המטריצה אליה נכניס את רשימות המספרים

# חזרה על קבלת הקלט כמספר הפעמים שהוזן
for i in range(N): 
    empty_list = [] # כל פעם ניצור רשימה ריקה אליה נכניס את המספרים ונמיר לטיפוס של פלואוט ולא סטרינג
    digit_list = numberRegex.findall(input('Row number %s: ' % (i+1))) # פונקציה שלוקחת את האינפוט ומוצאת בתוכו רק מה שנראה כמו מספר 
    for dgt in digit_list: # לכל מספר ברשימת המספרים שנמצאו באינפוט הרץ את הלולאה
        empty_list.append(float(dgt)) # הכנס לרשימה הריקה את המספר כפלואוט (כי ברירת המחדל היא מחרוזת)
    matrix_list.append(empty_list) # הוסף למטריצה את הרשימה עם הפלואוטס
    
print(matrix_list)

Number of rows: 4
Row number 1: 5 4 66 7
Row number 2: 98 664 3 1 1 09
Row number 3: 89 9
Row number 4: 0
[[5.0, 4.0, 66.0, 7.0], [98.0, 664.0, 3.0, 1.0, 1.0, 9.0], [89.0, 9.0], [0.0]]

# Group Divider

In [65]:
import random
import pandas as pd

LIST = list(range(1,101))


def partition(lst, g):
    group_size = int(len(lst)/g)
    groups = []
    temp_lst = lst
    for i in range(g):
        empty_list = []
        for b in range(group_size):
            new_len = len(temp_lst)
            index_num = random.randint(-1,new_len-1)
            addition = temp_lst[index_num]
            empty_list.append(addition)
            temp_lst.remove(addition)
        groups.append(empty_list)
    if len(temp_lst) > 0: 
        groups[random.randint(0,g-1)].append(temp_lst[0])
    return groups


GROUPS = partition(LIST, 9) 

g_size = []
for item in GROUPS:
    g_size.append(len(item))
df = pd.DataFrame(GROUPS)    

print(df, '\n', g_size)

    0   1   2   3   4   5   6   7    8   9  10    11
0  37  46  93  16  27  70  22  35   13   1  12   NaN
1  84  15  98  24  36  81  71  96  100  63  99   NaN
2  57  59  87  64  43  29  68  62   86  51  26   NaN
3  44  72  20  31   3  80  52  77   83  19  50   NaN
4  94  79  25  14  53   7  97  55   67  38  74   NaN
5  73  69  90  45  21  23  39  40    5   4  88   NaN
6  58  95  76  56   2  42  61  60    8  10  11  47.0
7  33  92  54   6  82  65  18  34   85  75  78   NaN
8  17  91  32  66  28  48  30  41    9  89  49   NaN
 [11, 11, 11, 11, 11, 11, 12, 11, 11]